body {
     font-family: 'Times New Roman', Times, serif;
     color: rgba(53, 56, 59, 0.911);
     background-color: rgb(96, 133, 134);
     margin: 20;
     padding: 60;
}

.Galeria {
     max-width: 70%;
     margin: 0 auto;
     padding: 20px;
     background-color: azure;
     box-shadow: 0 0 10px rgb(214, 217, 223);
     max-height: auto;
     border-radius: 70px;
    text-align: center;
}

.Fotos img {
     border-radius: 5%;
     width: 250px;
     height: 250px;
     border: 2px solid rgba(50, 57, 70);
     flex-direction: row;
}
img:hover {
     transform: scale(1.1);
}
.conteiner{
     display: flex;
     gap: 10px 100px;  
}